.custom-shape-divider-top-1681980216 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1681980216 svg {
    position: relative;
    display: block;
    width: calc(405% + 1.3px);
    height: 1158px;
}

.custom-shape-divider-top-1681980216 .shape-fill {
    fill: #faf3e8;
}