.custom-shape-divider-bottom-1682434773 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682434773 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 600px;
}

.custom-shape-divider-bottom-1682434773 .shape-fill {
  fill: #ffffff;
}
.main-view{
    scroll-behavior: smooth;
}

.Hero {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 650px;
  position: relative;
}
.logo-hero {
  position: absolute;
  z-index: 10;
  top: 200px;
  right: 250px;
}
.newsfeed {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 50px;
}
.scrollbar::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
